/* GEMERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 80%;
    height: 90vh;
    display: flex;
}

i{
    cursor: pointer;
    color: gray;
    font-size: 22px;
    margin: 10px;
}

/* LEFT COLUMN */


/* CONTACTS */
.contacts{
    min-width: 300px;
    width: 30%;
    border: 1px solid lightgray;
}


/* NOTIFICATIONS */
.alarm{
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #8EDAFB;
}

.alarm .box{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #F3FBFE;
    margin: 10px;
}

.alarm .box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.alarm .comand span{
    text-decoration: underline;
    cursor: pointer;
}


/* SEARCH */
.search{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: #F3EEEA;
}

.inside_search{
    background-color: white;
    width: 100%;
}

.search input{
    border: none;
    font-size: 20px;
    width: 80%;
}

/* CONTACT LIST */
.messages_from_contacts{
    background-color: white;
    height: calc(90vh - 200px);
    width: 100%;
    list-style: none;
    overflow-y: scroll;
}

.messages_from_contacts li{
   padding: 20px 0;
   border-bottom: 1px solid #F3EEEA;
   cursor: pointer;
}

.messages_from_contacts .active{
    background-color: lightgray;
}

.messages_from_contacts .last_message span{
    font-size: 14px;
    color: gray;
}

.messages_from_contacts .time{
    position: relative;
    bottom: 20px;
    margin-right: 5px;
    flex-grow: 2;
    display: inline-block;
    text-align: right;
    color: gray;
    font-size: 12px;
}
/* CHATS */
.chat{
    display: flex;
    overflow-y: scroll;
}

.container_chat{
    width: 80%;
    height: 60vh;
    list-style: none;
}

.sent{
    display: flex;
    justify-content: flex-end;
}

.mex{
    padding: 20px 30px;
    border-radius: 10px;
    margin: 10px 0;
    min-width: 35%;
    max-width: 50%;
    position: relative;
    line-break: auto;
}

.mex i{
    display: none;
    z-index: 1;
    font-size: 20px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 5px;
}

.mex:hover i{
    display: inline-block;
}

.hide{
    display: none;
}

.show_menu{
    display: inline-block;
    position: absolute;
    z-index: 2;
    padding: 20px;
    right: 10px;
    top: 40px;
    background-color: white;
    overflow: hidden;
}

.show_menu span{
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.received .mex{
    background-color: white;    
}

.sent .mex{
    background-color: #D5F9BA;
}

.mex .time{
    text-align: right;
    color: gray;
    font-size: 12px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

/* RIGHT COLUMN */
.chats{
    width: 70%;
    border: 1px solid lightgray;
}

.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: #F3EEEA;
}

.user ul{
    display: flex;
    list-style: none;
}

.profile_pic{
    display: flex;
    align-items: center;
}

.profile_pic img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin:0 10px;
}

.profile_pic span{
    font-size: 22px;
    font-weight: 700;
}

.infos{
    display: flex;
    flex-direction: column;
}

.infos span{
    font-size: 15px;
    font-weight: 600;
    color: gray;
}


/* MAIN CHAT */
.chat{
    width: 100%;
    height: calc(90vh - (70px + 70px ));
    background-image: url(../img/mine.jpg) ;
}

.chat .container_chat{
    width: 80%;
    margin: auto;
}

/* FOOTER CHAT */
.send{
    height: 70px;
    width: 100%;
    background-color: #F3EEEA;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.send input{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}
